version: '3.8'

services:
  app:
    container_name: whatsapp_web_api
    image: chrishubert/whatsapp-web-api:latest
    restart: always
    ports:
      - "80:3000"
      - "443:3000"
      - "3000:3000"
    env_file:
      - .env
    volumes:
      - ./sessions:/usr/src/app/sessions